/*=============================================
= Section Defult
=============================================*/
* {
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: "Instrument Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0px 0px;
  margin: 0px 0px;
}

a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.4s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Instrument Sans", sans-serif;
}

p,
span,
li {
  font-family: "Instrument Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px 0px;
  padding: 0px 0px;
}

a {
  text-decoration: none;
  display: inline-block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
dl,
ol,
ul,
a {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
strong {
  font-weight: bolder;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
i {
  font-style: italic;
}
div {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*=============================================
  = Section Defult
  =============================================*/

/* Header */

header {
  width: 100%;
  padding: 17px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  top: 0;
}

.container_header {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}
img.header_logo {
  max-width: 90px;
  height: auto;
}

.header_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.header-design {
  position: absolute;
  top: 0;
  left: 0;
}

.header-list-1 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

li {
  list-style-type: none;
}

li.plan-list-li-5 {
  padding-top: 26px;
  padding-bottom: 0px;
}

li.Sign-up {
  padding-left: 20px;
}
li:hover {
  color: rgb(21, 128, 0);
  cursor: pointer;
}
.Mizzle {
  color: #00ffff;
  padding-left: 2px;
}
.buy-btn {
  background-color: #09b850;
  padding: 9.5px 12.8px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  transition: all 0.5s;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.buy-btn:hover {
  color: #ffffff;
  background-color: #089c44;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button.sign-up {
  /* background-color: #09B850; */
  padding: 9.5px 12.8px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  color: #202124;
  transition: all 0.5s;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

button.sign-up:hover {
  background-color: #cbc4c4;
}
.theme:hover {
  cursor: pointer;
}

.theme {
  cursor: pointer;
}
button.toggle-btn {
  display: none;

}
button.toggle-btn i{
  font-size: 20px;
  background-color: #ebebeb;
  padding: 5px 5px;
}
/* Media Query */
@media (max-width: 1200px) {
  .plan-list-li-5 {
    padding-top: 16px;
    padding-bottom: 5px;
  }
  .header-design{
    display: none;
  }
}

/* Header 767px */
@media (max-width: 767px){
  .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list-1 {
  display: none;
}


button.toggle-btn {
  display: block;
  border: none;
  border-radius: 33px;
  cursor: pointer;
}


}

@media (max-width: 412px){
  .buy-btn {
    display: none;
  }
  button.sign-up {
    display: none;
  }
}


/* Header 834px */
@media (max-width: 834px){
  .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

}
/* Header end */

/*  Footer */
li.footer_list-li {padding-bottom: 15px;}

footer {
  background-color: #202124;
  color: #606261;
  height: auto;
  color: white;
  padding-top: 72px;
  margin: 0;
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

.footer_contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}

.header_logo img {
  width: 100%;
  max-width: 136px;
}
.footer_logo .header_logo {
  margin-bottom: 25px;
}

.footer_menu ul {
  display: flex;
  flex-direction: column;
}
.footer_community ul {
  display: flex;
  flex-direction: column;
}
.menu_header {
  font-size: 1.2rem;
  padding-bottom: 26px;
}
.footer_google_play_logo {
  max-width: 90px;
  height: auto;
  background-color: black;
}
a.footer_google_play_logo {
  height: 4px;
  width: 113px;
}
.footer_app_store_logo {
  height: 12px;
  width: 113px;
}
.follow_on {
  padding-top: 50px;
}
.social_midia {
  padding-top: 5px;
  display: flex;
  align-items: center;
  gap: 33px;
  cursor: pointer;
}

hr.footer_line {
  margin: 47px 0 0 0;
  width: 101%;
}

.country {
  margin: -31px 0 0 0;
}
a.country-btn {
  color: #ffffff;
  background-color: #363636;
  font-size: 14px;
  padding: 6.4px 12.8px;
  border-radius: 3px;
  width: 113%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
}

.footer_logo {
  margin: -95px 0 0 0;
}
.footer_app {
  margin: -54px 0 0 0;
}

button.job-btn {
  font-size: 11px;
  margin: 0 0 0 8px;
  padding: 3.93px 7.31px;
  background-color: #d6293e;
  border: 0px solid black;
  color: #ffffff;
}



.sale_price {
  /* padding-right: 40px; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.all_midia {
  height: 23px;
  width: 22px;
  background-color: #292a2d;
  padding-top: 3px;
}
.last_footer {
  display: flex;
  justify-content: space-between;
  /* padding-left: 100px; */
  /* padding-right: 26px; */
  /* padding-top: 70px; */
  align-items: center;
  padding: 26px 0 0 0;
}
a.country {
  background-color: #d87a0f;
  color: white;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


/* Media Query */

@media (max-width: 1200px) {
  .header_logo img {
    height: 40px;
    display: block;
    width: 100%;
    max-width: 121px;
  }
}

@media (max-width: 767px) {
  .header_logo img {
    height: 40px;
    display: block;
    width: 100%;
    max-width: 121px;
  }


.footer_contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
  flex-wrap: wrap;
  column-gap: 14%;
}
.footer_app {
  margin: 63px 267px 0;
}
}

@media (max-width: 412px){
  .sale_price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: flex;
    flex-direction: column;
}
.sale-price-row-1 {
  border-right: unset !important;
}
li.plan-list-li-5 {
  padding-top: 0;
  /* padding-bottom: 0px; */
}

.free_plan_header {
  font-size: 35px;
  margin: 0 0 26px;
  color: #202124;
}

button.free_plan_btn {
  font-size: 19px;
  margin: 5px 0 6px;
  padding: 9px 17px;
  background-color: #202124;
  color: #ffffff;
  cursor: pointer;
}

}

@media (max-width: 412px){

  .footer_app {
    margin: 34px 0 0 42px;
}

.last_footer {
  display: flex
;
  justify-content: space-between;
  /* padding-left: 100px; */
  /* padding-right: 26px; */
  /* padding-top: 70px; */
  align-items: center;
  padding: 27px 0 0 0;
  flex-direction: column;
  gap: 26px;
}
.menu_header {
  font-size: 1.2rem;
  padding-bottom: 26px;
  text-align: center;
}

footer{
  padding-top: 111px;
}

}


@media (max-width: 412px){
  header{
    position: unset
  }
}

/* Footer END      */

/* Section :- 1 */
.studio_img {
  position: relative;
}
.creative_studio_img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 160px 0;

  /* padding: 103px 0; */
}

.creative_studio_img .row > div {
  width: 100%;
  max-width: 40%;
  flex: 0 0 40%;
}

.creative_studio_img .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 145px;
}


/* Studio section */
span.digital {
  background-color: rgb(248, 248, 248);
}
.studio_text {
  margin-top: 36px;
  font-size: 57px;
  max-width: 97%;
}

.para_text_studio {
  font-size: 18px;
}
.people-img div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-right: -16px;
}
.people-img div {
  height: 33px;
  aspect-ratio: 1 !important;
  border-radius: 50%;
  overflow: hidden;
}
.people-img > div > img {
  width: 100%;
  max-width: 35px;
}
.people-img div img {
  width: fit-content;
  height: auto;
  object-fit: contain;
}
.people-img {
  display: flex;
  align-items: center;
  position: relative;
}
.para_text_studio {
  margin-top: 30px;
}
.input_field {
  border: 1px solid black;
  width: 80%;
  padding: 12px 8px;
  margin: 8px 0;
  height: 50px;
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input.input_email {
  border: none;
  outline: none;
  margin: 6px;
}
.studio_img .studio_main_img img {
  width: 100%;
  max-width: 503px;
}

.start_btn {
  background-color: #202124;
  color: white;
  border-radius: 0.313rem;
  font-size: 16px;
  padding: 8px 16px;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.help_support {
  display: flex;
  gap: 20px; /* Default gap for smaller screens */
  margin-top: 38px;
  align-items: center;
  justify-content: space-between;
  
}

h6.Support {
  font-size: 19px;
}
.help-text-1{
  font-size:16px
}
.support_logo_1 {
  font-size: 26px;
  display: flex;
  gap: 20px;
}
.support_logo_2 {
  font-size: 26px;
  display: flex;
  gap: 20px;
}

/* END Studio section */
/*  Studio section_img...........*/

._view_img {
  display: flex;
  gap: 1px;
  padding-bottom: 14px;
}
.visitore_wrap {
  height: 101px;
  width: 220px;
  background-color: black;
  color: white;
  padding-left: 29px;
  padding-top: 18px;
  border-radius: 7px;
  position: absolute;
  left: -86px;
  bottom: 35px;
}
/* .studio_main_img {
  position: relative;
} */

img.studio_main {
  border-radius: 5px;
}

.left_img_1 {
  position: relative;
}
.para_text_studio {
  margin-top: 30px;
}

.visitore_wrap_rate {
  height: 107px;
  width: 265px;
  background-color: #f7f7f7;
  color: rgb(12, 12, 12);
  padding-left: 29px;
  /* padding-top: 18px; */
  border-radius: 7px;
  position: absolute;
  /* margin-top: -645px; */
  /* margin-left: 391px; */
  color: #606261;
  top: 0;
  right: 0;
  margin: -29px -72px 0 0;
  /* text-align: center; */
}


.visitor_logo {
  width: 82px;
}
.rate_img {
  display: flex;
  flex-direction: column;
}

.rate_text {
  color: var(--bs-gray-900);
  font-size: 27px;
  padding-right: 10px;
}
.rate_logo_text {
  display: flex;
  margin-top: 5px;
  gap: 7px;
  margin-bottom: 6px;
}
.visitor_view {
  font-size: 26px;
  margin: 11px 8px 0 0;
  /* max-width: 138%; */
}
.visitor_view_2 {
  width: 67px;
}
/*  END  Studio section_img........... */


/* Media Query */
@media (max-width: 1200px) {
  .creative_studio_img .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 145px;
  }

  .visitore_wrap_rate {
    height: 107px;
    width: 245px;
    background-color: #f7f7f7;
    color: rgb(12, 12, 12);
    padding-left: 29px;
    padding-top: 18px;
    border-radius: 7px;
    position: absolute;
    /* margin-top: -644px; */
    /* margin-left: 262px; */
    color: #606261;
    margin: -28px -41px 0 0;
  }

  .help_support {
    display: flex;
    gap: 0; /* Override gap for screens 1200px and wider */
  }
    .studio_img .studio_main_img img {
      width: 100%;
      max-width: 420px;
    }
  
}


/* Media Query 1024 */
@media (max-width: 1024px){
  .creative_studio_img .row{
    flex-direction: column;
    gap: 100px;

  }

  .studio_img{
   margin:0 50px
  }
  .creative_studio_img .row > div{
    max-width: 80%;
    
  }
  .studio_img .studio_main_img img {
    max-width: 100%;
   
  }
}


/* section-1 475px */
@media (max-width: 475px) {
  .help_support {
    display: flex;
    flex-direction: column;
}
.input_field {
  border: 1px solid black;
  width: 145%;
  padding: 12px 8px;
  margin: 8px 0;
  height: 81px;
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.studio_text {
  margin-top: 35px;
  font-size: 37px;
  max-width: 137%;
}

}

@media (max-width: 412px){
  .input_field{
    width: 100%;
    height: auto;
  }
  .studio_text{
    font-size: 42px !important;
  }

  .help_support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 19px;
}
.studio_img .studio_main_img img {
  width: 100%;
}
.creative_studio_img {
  padding: 47px 0;
}
.visitore_wrap_rate{
  display: none;
}
.visitore_wrap{
  left: -63px;
  bottom: 0;
}
}


    /* .name_logo_company {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
  } */


@media (max-width: 834px){
  .creative_studio_img {
    padding: 64px 0;
  }
  .studio_text{
    font-size: 49px;
  }
  .studio_tex{
    margin-top: 20px;
  }
}

/* section:1 360px */
@media (max-width: 360px){
  .studio_text{
    font-size: 36px !important
  }
  .start_btn{
    margin-top: 18px;
    width: 100%;
  }
  .input-field-digital-contact{
    flex-direction: column;
  }
  .input_field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* end  Section :- 1 *************************************************************/

/* Section -2 */



.name_logo_company {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .company_details{
  margin-top: 43px;
} */
.comany_logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

h6.count_comapany {
  font-size: 24px;
}

.company_header {
  width: 100%;
  max-width: 16%;
  flex: 0 0 16%;
}

.comany_logos img {
  width: 100%;
  max-width: 149px;
  display: block;
  filter: grayscale(1);
  object-fit: cover;
  object-position: center center;
  transition: all 0.5s;
}

.comany_logos img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

/* Media Wuery */

@media (max-width: 1200px) {
  .comany_logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
  }
  h6.count_comapany {
    font-size: 23px;
  }
  .name_logo_company {
    display: flex  ;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 28px;
  }
  header{
    position: unset;
  }
  .header-list-1{
    display: none;
  }
  button.toggle-btn {
    display: block;
}

}




/* section-2  1024 */
@media (max-width: 1024px){
  img.res-none-5 {
    display: none;
}
}
@media (max-width: 768px){

}

/* Secrtion-2 834 */
@media (max-width: 834px){
  .name_logo_company {
    display: flex;
    flex-direction: row;
}
img.res-none-4 {
  display: none;
}

}

/* Section-2   768px */
@media (max-width: 768px){
  .name_logo_company {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
  h6.count_comapany {
    font-size: 20px;
}
  .company_header {
    width: 100%;
    max-width: 92%;
    flex: 0 0 0;
  }
  img.res-none-4 {
    display: none;
  }
}

@media (max-width: 412px){
  img.res-none-3 {
    display: none;
}
.footer_menu {
  margin-top: 42px;
}
.footer_community {
    margin-top: 42px;
}
.name_logo_company{
  flex-direction: column;
}
}





/* END section-2**** ********************************************************************/

/* Section :- 3 ******************************************************** */

/*  Left side section */



.birds-logo {
  position: absolute;
  right: 29px;
  bottom: -77px;
  /* margin: -23px 234px 0; */
}
.section_3 {
  margin-top: 142px;
}
.left-side-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.section_-main-row {
  display: flex;
  justify-content: center;
  align-items: start;
}
.section_3 .container .row > .col:nth-child(2) {
  flex: 0 0 41.67%;
  max-width: 41.67%;
}
.section_3 .container .row > .col {
  flex: 0 0 58.33%;
  max-width: 58.33%;
}
.left_img_1-main {
  max-width: 340px;
  height: auto;
  /* margin-left: 195px; */
  margin: 0 auto;
}

.year {
  height: 123px;
  width: 260px;
  background-color: #202124;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.Counter_Experience {
  font-size: 44px;
}
.happy_customer {
  height: 123px;
  width: 260px;
  background-color: #09b850;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.Experience_view {
  display: flex;
  gap: 30px;
  margin-bottom: 24px;
  text-align: center;
}
.section_3 {
  display: flex;
}

.left_img_2 {
  max-width: 303px;
  height: auto;
  display: flex;
  flex-direction: column;
}

/*  END Left side section */

/* Right side Section */
.right_section_3 {
  margin-left: 65px;
}

span.digital_gatway {
  background-color: rgb(209 209 209);
}
.right_Header_3 {
  font-size: 61px;
  margin-top: 23px;
}
.header_text_3 {
  font-size: 18px;
  margin-top: 23px;
}
.header_list_3 {
  font-size: 16px;
  margin-top: 23px;
}
p.list_record {
  margin-bottom: 13px;
}
i.set_list_3 {
  padding-right: 9px;
}

button.Discover_btn {
  background-color: black;
  color: white;
  width: 126px;
  height: 38px;
  border-radius: 4px;
  cursor: pointer;
}
.btn_3 {
  margin-top: 23px;
}
.right_section_3 {
  margin-top: 82px;
}

/* Media Wuery */
@media (max-width: 1200px) {
  .right_section_3 {
    margin-top: 7px;
  }

}


/* section-3 767px */

@media (max-width: 767px){
  .right_section_3 {
    margin-top: 62px;
}

.section_-main-row {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

}

@media (max-width: 412px) {
  .left-side-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
}
.Experience_view{
  flex-direction: column;
}
.year{
  width: 100%;
}
.happy_customer{
  width: 100%;
}
.right_Header_3{
  font-size: 44px;
}
}

@media (max-width: 834px){
  .section_3 {
    margin-top: 71px;
}
  
}

/* section-3 834px */
@media (max-width: 834px){
  .section_-main-row {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.right_section_3 {
  margin-top: 81px;
}

}
/* END section :-3 ****************************************** */






/* Section :- 5 */

.digital_5 {
  background-color: rgb(124, 121, 121);
}
.plan-list-li {
  display: flex;
  flex-direction: column;
}
.package {
  text-align: center;
  padding: 120px 0 0;
}
.get_plan {
  height: auto;
  /* max-width: 323px; */
  background: rgb(9, 184, 80);
  width: 404px;
  border-radius: 9px;
  display: flex;
  flex-flow: wrap;
  row-gap: 153px;
  position: relative;
}

.sale_paln {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
 
}

h6.package-header {
  margin: 26.5px 0 87px;
  font-size: 44px;
}

.digital_5 {
  background-color: #f8f8f8;
  font-size: 14px;
  padding: 8px 16px;
}
span.base-mode {
  margin: 0px 0 16px;
  padding: 4.2px 7.8px;
  background-color: #202124;
  color: #ffff;
  font-size: 12px;
}
span.\$-price {
  font-size: 88px;
}
span.price-month {
  font-size: 19.2px;
}
.free_plan_header {
  font-size: 19px;
  margin: 0 0 26px;
  color: #202124;
}
ul.plan-list-li {
  font-size: 16px;
  padding: 6px 0;
  color: #202124;
}



button.free_plan_btn {
  font-size: 16px;
  margin: 0 0 6px;
  padding: 8px 16px;
  background-color: #202124;
  color: #ffffff;
  cursor: pointer;
}
p.credit-info {
  font-size: 16px;
  color: #606261;
}
.dollar_logo-price {
  padding: 0 0 15px;
}

.plan_list {
  padding: 0 0 34px;
}
.plan-price-month {
  padding: 22px 0 22px 0;
}
span.plan-header-text {
  padding: 4.2px 7.8px;
  font-size: 12px;
  background-color: #202124;
  color: #ffffff;
}

.sale-price-row-1 {
  width: 50%;
  border-right: 1px solid #f00;
}
h3.price-heading {
  margin: 16px 0 0;
  font-size: 32px;
  color: #ffffff;
}

.contact-design {
  position: absolute;
  margin: -345px 0 0 1029px;
}

button.contact-btn {
  font-size: 16px;
  margin: 0 0 6px;
  padding: 0px 56px 0 42px;
  background-color: #ffffff;
  color: #020303;
  border: none;
  width: 332px;
  height: 46px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}
.contact-sale {
  padding: 0 0 0 34px;
}
span.contact-text {
  font-size: 16px;
  color: #ffffff;
  padding: 0 0 0 23px;
}

.right-sign {
  padding: 0 6px 0 0;
}

.plan-header {
  padding: 27px 0 0 31px;
}

/* section-5  1024 */
@media (max-width: 1024px){
  button.contact-btn {
    font-size: 16px;
    margin: 0 0 6px;
    padding: 0px 56px 0 42px;
    background-color: #ffffff;
    color: #020303;
    border: none;
    width: 210px;
    height: 42px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
  }
  .contact-sale {
    /* padding: 0 0 0 50px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0  35px;
  }

}


@media (max-width: 767px) {
  .sale_paln {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    align-items: center;
    flex-wrap: wrap;
  }

  button.contact-btn {
    font-size: 16px;
    margin: 0 0 6px;
    padding: 0px 56px 0 42px;
    background-color: #ffffff;
    color: #020303;
    border: none;
    width: 90%;
    height: 42px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.get_plan {
  height: auto;
  /* max-width: 323px; */
  background: rgb(9, 184, 80);
  width: 100%;
  border-radius: 9px;
  display: flex;
  flex-flow: wrap;
  row-gap: 115px;
  position: relative;
  flex-direction: column;
  margin-top: 36px;
}

.contact-sale {
  /* padding: 0 0 0 50px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 38px;
  padding-bottom: 19px;
}
}


/* Section-5 834px */
@media (max-width: 834px){
  .sale_paln{
    flex-direction: column;
  }
  .get_plan {
    width: 100%;
    flex-direction: column;

  }
  button.contact-btn{
    width: 100%;

  }
    
}

/* section-5 412px */
@media (max-width: 412px){
  h6.package-header{
    margin: 20.5px 0 59px;
    font-size: 27px;

  }
  .free_plan_header{
    font-size: 27px;
  }
}
/* END   Section :- 5  */



/*  Section :- 6 */
.main-section-6 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-wrap: wrap; */
  column-gap: 118px;
  padding: 120px 0;
}
span.clients-text {
  font-size: 16px;
  padding: 8px 16px;
  color: #202124;
  background-color: #f8f8f8f8;
}
h2.review-header-text {
  font-size: 44px;
  margin: 23.6px 0;
  color: #202124;
}
h6.user-number {
  font-size: 19px;
  color: #202124;
}

.left-img-clint-review {
  padding: 0 67px 0 0;
}
.rate-img-left {
  font-size: 16px;
  padding: 0 0 18px;
  color: #dbdb00;
}
.rate-img-left {
  font-size: 16px;
  padding: 0 0 18px;
  color: #dbdb00;
}

p.nix-client-text {
  margin: 0 0 16px;
  font-size: 16px;
}

span.clients-name-left {
  font-size: 16px;
  color: #606261;
}

img.nix-img {
  margin: 0 0 0 -23px;
  border-radius: 4px;
}
.client-name-img {
  display: flex;
  /* justify-content: center; */
  /* animation: c; */
}

.client-img-left {
  height: auto;
  max-width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: -59px;
  margin: 0 -1px 0 16px;
}

img.carolyn-img {
  margin: 0 0 0 -29px;
  border-radius: 4px;
}

span.clients-name-right {
  padding: 8px 0 0 0;
}
.rate-img-right {
  font-size: 16px;
  padding: 0 0 18px;
  color: #dbdb00;
}
.rate-img-left {
  font-size: 16px;
  padding: 0 0 18px;
  color: #dbdb00;
}

p.nixa-client-text {
  margin: 0 0 16px;
  font-size: 16px;
}

span.clients-name-left {
  font-size: 16px;
  color: #606261;
  padding: 8px 0 0 0;
}

.client-img-right {
  height: auto;
  max-width: 10%;
}

.clients-rate-text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */

  margin: 25.6px 0 0;
}

/* Right side clients */
.right-client-main-img {
  position: relative;
}
img.ight-client-main {
  border-radius: 6px;
}
img.bootstrap-img {
  height: auto;
  max-width: 45px;
  border-radius: 27px;
}

.bootstrap-theme {
  height: auto;
  max-width: 66%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  column-gap: 8px;
  padding: 8px 0 8px 8px;
  border-radius: 7px;
  position: absolute;
  /* margin: -400px 0 0 -85px; */
  left: -75px;
  top: 47px;
}
p.bootstrap-text {
  color: #ffffff;
  font-size: 14px;
}

img.excellent-img {
  height: auto;
  max-width: 45px;
  border-radius: 27px;
}
.excellent-theme {
  height: auto;
  max-width: 66%;
  background-color: #f6f5f5;
  color: #606261;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  column-gap: 8px;
  padding: 8px 0 8px 8px;
  border-radius: 7px;
  position: absolute;
  /* margin: -118px 0 0 -45px; */
  padding: 6px 17px 6px;
  left: -57px;
  bottom: 49px;
}
p.excellent-text {
  color: #202124;
  font-size: 14px;
}

.decoration-arrow {
  position: absolute;
  margin: -297px 0 0 -118px;
}
/* END Right side clients */


/* section-6  767px */

@media (max-width: 767px){
  .main-section-6 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-wrap: wrap; */
    /* column-gap: 118px; */
    padding: 120px 0;
    flex-direction: column;
    gap: 100px;
}

.decoration-arrow{
  display: none;
}

}
@media (max-width: 412px){
  .clients-rate-text-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 25.6px 0 0;
    flex-direction: column;
    gap: 29px;
}
h2.review-header-text{
  font-size: 30px;
}
.left-client-all-contant {
  margin: 68px 0 0 0;
}

}

@media (max-width: 412px){
  .bootstrap-theme {
    left: 0;
    top: 0;
}
.excellent-theme {
  left: 0;
  bottom: 0;
}
.right-client-main-img {
  max-width: 100% !important;
  margin: 0 !important;
}

}

/* Ection-6  834px */
@media (max-width: 834px){
  .main-section-6{
    flex-direction: column;
    padding:0
  }
  .right-client-main-img {
    max-width: 73%;
    margin: 81px;
}
.decoration-arrow{
  display: none
}
  
  

}

/* END  Section :- 6 */

/* Section-7 */
.input-field-digital-contact {
  border: 1px solid rgb(8, 8, 8);
  width: 64%;
  padding: 12px 8px;
  margin: 8px 0;
  height: 58px;
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: white;
}

.input-email-comntact {
  border: none;
  outline: none;
  margin: 6px;
  font-size: 17px;
  padding: 0 0 0 10px;
}
.about-diogital-goals {
  margin-bottom: -60px;
  background-color: #09b850;
  border-radius: 6px;
  padding: 25px;
  position: relative;
}

.header-digital-goals h3 {
  width: 100%;
  max-width: 80%;
  color: #fff;
}

.inpur-contact-box {
  display: flex;
  justify-content: space-around;
  align-items: start;
  /* flex-wrap: wrap;
  column-gap: 288px; */
}

.contact-logo {
  padding: 0 10px;
}
h3.goals-text {
  font-size: 38px;
}
section.digital-sec {
  margin-bottom: -72px;
  position: relative;
}
.digital-contact {
  color: #ffffff;
  text-align: right;
  padding: 43px 0 0 0;
}
.contact-num {
  padding: 0 0 9px 0;
  cursor: pointer;
}

.contact-time {
  padding: 0 0 9px 0;
}
.contact-email {
  cursor: pointer;
  /* position: relative; */
}

.msg-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 48%;
}


/* section-7 767px */
@media (max-width: 767px){
  .inpur-contact-box {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}

.msg-logo {
  position: absolute;
  right: 6px;
  bottom: -34px;
  /* height: 48%; */
}
.input-field-digital-contact {
  border: 1px solid rgb(8, 8, 8);
  width: 96%;
  padding: 12px 8px;
  margin: 8px 0;
  height: 58px;
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: white;
}
}

@media (max-width: 412px){
  .input-field-digital-contact {
    border: 1px solid rgb(8, 8, 8);
    width: 100%;
    padding: 12px 8px;
    margin: 8px 0;
    height: 59px;
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
}
.start_btn {
  background-color: #202124;
  color: white;
  border-radius: 0.313rem;
  font-size: 16px;
  padding: 8px 16px;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.input-email-comntact {
  border: none;
  outline: none;
  margin: 6px;
  font-size: 17px;
  padding: 0 0 0 0;
}

.msg-logo {
  display: none;
}

.about-diogital-goals {
  margin-top: 60px;
}
h3.goals-text {
  font-size: 28px;
}
}

/* section 7 360px */
@media (max-width: 360px){
  .digital-contact{
    text-align: unset;
  }
  .contact-time{
    font-size: 15px;
  }
}



/* EN section:-7 */
/* section   4 */

.section_4 {
  width: 100%;
  background-color: black;
  margin-top: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Testing {
  padding-top: 317px;
}



.innovativ {
  margin-bottom: 68px;
  text-align: center;
}
.digital-marketing {
  height: auto;
  background-color: #292a2d;
  color: #ffffff;
  position: relative;
  padding: 20px;
}
.Product-Design {
  height: auto;
  background-color: #3c3e41;
  color: #ffffff;
}
.Web-Design {
  height: auto;
  background-color: #3c3e41;
  color: #ffffff;
}
.ui-ux-Design {
  height: auto;
  background-color: #3c3e41;
  color: #ffffff;
}
.Business-Strategy {
  height: auto;
  background-color: #3c3e41;
  color: #ffffff;
}
.Research {
  height: auto;
  background-color: #3c3e41;
  color: #ffffff;
}
.Web-Development {
  height: auto;
  background-color: #3c3e41;
  color: #ffffff;
}
.Brand-Design {
  height: auto;
  background-color: #3c3e41;
  color: #ffffff;
}
.col-box-main-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 60px;
}
.col-box-main-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0 0px 0;
  padding: 0 0 130px 0;
}

a.digital-header-text {
  font-size: 24px;
  color: #ffffff;
}
a.Product-header-text {
  font-size: 24px;
  color: #ffffff;
}
a.Web-header-text {
  font-size: 24px;
  color: #ffffff;
}
a.ui-ux-header-text {
  font-size: 24px;
  color: #ffffff;
}
a.ui-ux-header-text {
  font-size: 24px;
  color: #ffffff;
}
a.Business-header-text {
  font-size: 24px;
  color: #ffffff;
}

a.Research-header-text {
  font-size: 24px;
  color: #ffffff;
}
a.Web-Development-header-text {
  font-size: 24px;
  color: #ffffff;
}
a.\.brand-Design-header-text {
  color: #ffff;
  font-size: 24px;
}
.services-box-2 {
  margin: 49px 25px 0 0;
}
.services-box-3 {
  margin: 49px 25px 0 0;
}
.services-box-4 {
  margin: 49px 0 0 0;
}
.services-box-5 {
  margin: 49px 25px 0 0;
}
.services-box-6 {
  margin: 49px 25px 0 0;
}
.services-box-7 {
  margin: 49px 25px 0 0;
}
.services-box-8 {
  margin: 49px 0 0 0;
}

p.marketing-text {
  font-size: 16px;
  color: #c4c5c7;
}
p.Product-text {
  font-size: 16px;
  margin: 0 0 16px;
  color: #c4c5c7;
}
p.Web-text {
  font-size: 16px;
  margin: 0 0 16px;
  color: #c4c5c7;
}
p.ui-ux-text {
  font-size: 16px;
  margin: 0 0 16px;
  color: #c4c5c7;
}

.section-5 {
  background-color: #2d2d2e;
  padding: 100px 0;
  margin: 122px 0 0 0;
  position: relative;
}
/* .digital-header {
  padding: 75px 0 22px 0;
} */

/* Perfect Box */
.marketing-logo {
  position: absolute;
  margin-bottom: 0;
  top: 0;
  transform: translateY(-50%);
  width: 100%;
  max-width: 19%;
  text-align: center;
  padding: 18px;
  background: #fff;
  border-radius: 50%;
}

.digital-header {
  margin: 25px 0 16px;
}

.Product-Design-logo {
  height: 52px;
  width: 50px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  position: absolute;
  margin: -12px 0 14px 19px;
}

.Product-header {
  padding: 75px 0 22px 30px;
}

.Product-text-p {
  padding: 0 0 0 26px;
}
.Product-more-info {
  padding: 0 0 22px 27px;
}

.marketing-text-p {
  padding: 5px 0 20px 0;
}

i.fa-solid.fa-arrow-right {
  padding: 0 0 0 6px;
}

.Web-logo {
  height: 52px;
  width: 50px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  position: absolute;
  margin: -12px 0 14px 19px;
}

.Web-header {
  padding: 75px 0 22px 30px;
}

.Web-text-p {
  padding: 0 0 0 26px;
}
.Web-more-info {
  padding: 0 0 22px 27px;
}

.ui-ux-logo {
  height: 52px;
  width: 50px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  position: absolute;
  margin: -12px 0 14px 19px;
}

.ui-ux-header {
  padding: 75px 0 22px 30px;
}

.ui-ux-text-p {
  padding: 0 0 0 26px;
}
.ui-ux-more-info {
  padding: 0 0 22px 27px;
}

.Business-logo {
  height: 52px;
  width: 50px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  position: absolute;
  margin: -12px 0 14px 19px;
}

.Business-header {
  padding: 75px 0 22px 30px;
}

.Business-text-p {
  padding: 0 0 0 26px;
}
.Business-more-info {
  padding: 0 0 22px 27px;
}

.Research-Design-logo {
  height: 52px;
  width: 50px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  position: absolute;
  margin: -12px 0 14px 19px;
}

.Research-header {
  padding: 75px 0 22px 30px;
}

.Research-text-p {
  padding: 0 0 0 26px;
}
.Research-more-info {
  padding: 0 0 22px 27px;
}
.Web-Development-logo {
  height: 52px;
  width: 50px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  position: absolute;
  margin: -12px 0 14px 19px;
}

.Web-Development-header {
  padding: 75px 0 22px 30px;
}

.Web-Development-text-p {
  padding: 0 0 0 26px;
}
.Web-Development-more-info {
  padding: 0 0 22px 27px;
}
.Brand-Design-logo {
  height: 52px;
  width: 50px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  position: absolute;
  margin: -12px 0 14px 19px;
}

.Brand-Design-header {
  padding: 75px 0 22px 30px;
}

.Brand-Design-text-p {
  padding: 0 0 0 26px;
}
.Brand-Design-more-info {
  padding: 0 0 22px 27px;
}

span.innovativ-text {
  background-color: #292a2d;
  font-size: 14px;
  padding: 8px 16px;
  color: #ffffff;
}

h2.service-header {
  margin: 25.6px 0 0;
  font-size: 44px;
  color: #ffffff;
}

.footer_main {
  padding: 111px 0 0 0;
}

a.digital-more-info-text {
  color: #09b850;
}
a.Product-more-info-text {
  color: #09b850;
}
a.Web-more-info-text {
  color: #09b850;
}
a.ui-ux-more-info-text {
  color: #09b850;
}
a.Business-more-info-text {
  color: #09b850;
}
a.Research-more-info-text {
  color: #09b850;
}
a.Web-Development-more-info-text {
  color: #09b850;
}
a.digital-more-info-text {
  color: #09b850;
}
a.Brand-Design-more-info-text {
  color: #09b850;
}


@media (max-width: 1024px) {

  .col-box-main-1{
      grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 412px) {

  .col-box-main-1 {
    grid-template-columns: repeat(1, 1fr) !important; 
}
.marketing-logo{
  max-width: 12% !important;

}

}

@media (max-width: 767px) {

  .col-box-main-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .marketing-logo {
    position: absolute;
    margin-bottom: 0;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: 12%;
    text-align: center;
    padding: 11px;
    background: #fff;
    border-radius: 50%;
}
 
 
}
 

/* section-4 834px */
@media (max-width: 834px){
  .col-box-main-1 {
    grid-template-columns: repeat(2, 1fr);
}

.marketing-logo{
  max-width: 15%;

}

}


/*END  section-4 */

.service-line-img {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  margin: -829px -23px -329px 1503px;
}

.lita-img {
  position: absolute;
  margin: -31px 0 0 -83px;
  top: 0;
  left: 0;
}

@media (max-width: 1200px) {
  
}

